.filterButtons {
  padding: 5px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.selectAll {
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
}
